3
/*## CSS
- Utilisation du inline-block et du float pour le placement
de certains éléments
- Largeur limité à 1500px maximum

image de fond en plein ecran
marge sur les cotés header

- Transparence du bloc d'entête : 0.75 uniquement pour le fond
- Utiliser une class pour limiter intelligememnt le contenu
- Taille de la police :
    - par défaut : 1em
    - titres h1 : 3em
    - titres h2 : 2em
- Police utilisés :
    - Titre : "Courgette"
    - Texte : "Open Sans"*/

.container {
  max-width: 1500px;
  margin: 0 auto;
}
h1, h2 {
  font-family: 'Courgette', cursive;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

/* HEADER */

header, header nav {
  text-align: center;
}
header nav ul {
  display: inline;
  vertical-align: 31px;
}
header nav li {
  display: inline-block;
  padding: 15px;
}
header nav a {
  color: #75D1C6;
  text-decoration: none;
}
.fa {
  display: block;
  padding: 5px;
}
header section {
  background-image: url("../img/fond.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20% 0;
}
header h1 {
  background-color: rgba(117, 209, 198, 0.75);
  color: white;
  Line-Height: 2.2;
  padding: 4% 0 4% 0;
  font-size: 1.7em;
}
header h1 span {
  font-size: 1.5em;
}

/* main */

#presentation h2 {
  background-color: #75D1C6;
  color: white;
  padding: 1.5%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Open', sans-serif;
}
#presentation article {
  padding: 1.5% 3%;
}
p, ul {
  padding: 1.5%;
  Line-Height: 1.5;
  font-family: 'Open', sans-serif;
}
#presentation article ul {
  list-style: disc;
  padding: 0 6%;
}
#details {
  background-color: #B7B12E;
  text-align: center;
  font-family: 'Open', sans-serif;
}
#details article {
  display: inline-block;
  width: 26%;
  color: white;
  padding: 0 3%;
  line-height: 1.5;
  vertical-align: top;
}
#details article h2 {
  font-family: 'Courgette', cursive;
  text-align: center;
  padding: 7%;
}
#details article img {
  width: 50%;
}
.map iframe {
  display: inline-block;
  width: 100%;
}

/* footer */

footer {
  background-color: #75D1C6;
  color: white;
  /*margin-top: 25px;*/
  text-align: center;
}
