<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="NarrowItDownApp">
<div class="container" ng-controller="NarrowItDownController as narrowItDown">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="::searchTerm">
    </div>
    <div class="form-group narrow-button">
        <button ng-click="narrowItDown.getMatchedMenuItems(searchTerm)" class="btn btn-primary">Narrow It Down For Me!
        </button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items
            found="narrowItDown.found"
            on-remove="narrowItDown.removeItem(index)"></found-items>
</div>

<script src="scripts/angular.js"></script>
<script src="app.js"></script>
</body>
</html>
