<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">This is the main content from body.html</h2>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, inventore dignissimos possimus totam dolores deserunt nobis officia, nesciunt. Fugiat aut in fuga, illum animi molestias cumque fugit praesentium, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit quidem commodi possimus veniam debitis fugiat sunt! Explicabo, odio harum, facilis distinctio, magnam ratione voluptatibus a molestias unde eaque suscipit.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">This is the left content from body.html</h2>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, inventore dignissimos possimus totam dolores deserunt nobis officia, nesciunt. Fugiat aut in fuga, illum animi molestias cumque fugit praesentium, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit quidem commodi possimus veniam debitis fugiat sunt! Explicabo, odio harum, facilis distinctio, magnam ratione voluptatibus a molestias unde eaque suscipit.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">This is the right content from body.html</h2>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, inventore dignissimos possimus totam dolores deserunt nobis officia, nesciunt. Fugiat aut in fuga, illum animi molestias cumque fugit praesentium, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit quidem commodi possimus veniam debitis fugiat sunt! Explicabo, odio harum, facilis distinctio, magnam ratione voluptatibus a molestias unde eaque suscipit.
        </div>
      </div>
    </div>
  </div>
</div>
