  /*GLOBAL */

  * {
      box-sizing: border-box;
      outline: none;
      font-family: "Bree Serif";
      font-weight: 300;
  }
  body {
      background-image: url("../img/fond.png");
      color: #969799;
  }
  .container {
      max-width: 1100px;
      margin: 0 auto;
  }
  section {
      text-align: center;
  }
  /* HEADER */

  h1 {
      font-size: 2em;
  }
  h2 {
      font-size: 2em;
      color: #FD1F5A;
      border-bottom: 2px solid #EFF0F2;
      padding: 2%;
  }
  img {
      width: 100%;
  }
  canvas {
      /*border: 2px solid;*/
  }
  /* HEADER */

  header nav div {
      display: inline-block;
      width: 40%;
      vertical-align: top;
      text-align: center;
      padding: 3em;
  }
  header nav div span {
      display: inline-block;
      50%;
      color: #939393;
      font-size: 2em;
      vertical-align: top;
      padding: 0.7em 0em 1em 1em;
  }
  header nav ul {
      display: inline-block;
      vertical-align: 31px;
      width: 58%;
      text-align: right;
      /*padding-right: 10em;*/
  }
  header nav li {
      display: inline-block;
      padding: 2em;
      text-align: center;
  }
  header nav a {
      color: #939393;
      text-decoration: none;
  }
  header .fa {
      display: block;
      padding: 1em;
  }
  header img {
      width: 5em;
      height: 5em;
  }
  /* SECTION 1 */

  main section:first-child {
      background-image: url("../img/bg_header.png");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 44em;
      text-align: center;
  }
  main section:first-child article {
      padding-top: 10%;
  }
  main section:first-child h1, main section:first-child p {
      color: white;
      line-height: 2;
      padding: 2%;
  }
  main section:first-child h1 {
      padding: 10% 0 0 0;
  }
  main section:first-child p {
      padding: 4% 10%;
  }
  .btn {
      border-radius: 5px;
      text-shadow: 1px 1px 3px #f4226c;
      color: #ffffff;
      font-size: 20px;
      background: #f4226c;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
  }
  .btn:hover {
      font-size: 40px;
      text-decoration: none;
  }
  /*SECTION 2 CANVAS*/

  main section:nth-child(2) h2 {}
  /* SECTION 3 */

  main section:nth-child(3) article {
      display: inline-block;
      width: 30%;
      padding: 3%;
      line-height: 2;
      margin-bottom: 2%;
  }
  main section:nth-child(3) .fa {
      font-size: 2em;
      border: 2px solid #E1E3E2;
      width: 90px;
      height: 90px;
      border-radius: 45px;
      background: #EFF1F0;
      padding-top: 27px;
  }
  main section:nth-child(n+1) {
      margin-bottom: 90px;
  }
  .orangejuice img, .aquaplant img {
      float: right;
      width: 29em;
      margin-top: 8%;
      padding-left: 2%;
  }
  .timepast img {
      float: left;
      width: 29em;
      margin-top: 8%;
  }
  .orangejuice div, .aquaplant div, .timepast div {
      line-height: 2.2em;
      text-align: left;
  }
  .orangejuice, .aquaplant, .timepast {
      text-align: left;
  }
  button {
      color: #f4226c;
      background: none;
      border: 0;
      font-weight: bold;
      padding: 20px;
  }
  /* footer */

  section:last-child p {
      line-height: 2.2em;
      padding: 2%;
  }
  section form img {
      width: 3em;
  }
  section form input, section form textarea {
      border: none;
      background: none;
      vertical-align: top;
      top: 40px;
      display: inline-block;
      text-align: left;
      border: 2px solid #CACBCD;
      border-radius: 40px;
      background-repeat: no-repeat;
      background-size: 3em;
      background-position: 1em;
      height: 4em;
      text-indent: 6em;
      margin-bottom: 2em;
  }
  section form input {
      display: inline-block;
      width: 48%;
  }
  section form input:first-child {
      margin-right: 4%;
      background-image: url("../img/bg_form_name.svg");
  }
  section form input:nth-child(2) {
      background-image: url("../img/bg_form_mail.svg");
  }
  section form textarea {
      width: 100%;
      background-image: url("../img/bg_form_message.svg");
      text-indent: each-line;
      padding-top: 1em;
  }
  /* RESPONSIVE */

  @media screen and (max-width:560px) {
      /* main */
      /* footer */
  }
