table {
	border-collapse: collapse;
}

td {
	height: 30px;
	width:  30px;
}

.grass, .stone {
	background-size: contain;
}

.grass {
	background-image: url('../img/grass.jpg');
}

.stone {
	background-image: url('../img/stone.png');
}

#canvas, #code {
	float: left;
}

#code {
    height: 250px;
    width: 400px;
    margin-left: 50px;
}