{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Page Bye bye hello World</title>
  </head>
  <body>
    <h1>{{ nom }} !</h1>

    <p>
      Bye Bye
    </p>
  </body>
</html>
