/*-----------------------------------
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12 {
    padding-left: 50px;
    margin-bottom: 72px;
}
.row {
    box-shadow: 0 1px 0 #e1e5e8;
    padding-bottom: 0;
    padding-left: 15px;
    background-color: #ffffff;
    margin-bottom: 11px;
}
.row span {
    padding: 20px 0 6px 0;
}

/* Column Captions */

.columnCaptions {
    color: #7e93a7;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    background-color: #f2f6f9;
}
.columnCaptions span:first-child {
    padding-left: 8px;
}
.columnCaptions span {
    padding: 0 21px 0 0;
}
.columnCaptions span:last-child {
    float: right;
    padding-right: 72px;
}

/* Items */

.itemName {
    color: #727578;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-left: 25px;
}
.quantity {
    color: #4ea6bc;
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 42px;
    padding-left: 7px;
}
.popbtn {
    background-color: #e6edf3;
    margin-left: 25px;
    height: 63px;
    width: 40px;
    padding: 32px 0 0 14px !important;
    float: right;
    cursor: pointer;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #858e97;
}
.price {
    color: #f06953;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

/* Totals */

.totals {
    background-color: #f2f6f9;
}
.totals span {
    padding: 40px 15px 40px 0;
}
.totals .price {
    float: left;
}
.totals .itemName {
    margin-top: 1px;
}
.totals .order {
    float: right;
    padding: 0;
    margin-top: 40px;
    padding-left: 5px;
    cursor: pointer;
}
.order a {
    background-color: #f08573;
    color: #fbfffa;
    font-weight: bold;
    border-radius: 2px;
    padding: 20px 30px;
}

/* Popovers */

.popover {
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 0;
    background-color: #ffffff;
}
.popover.bottom {
    margin-top: -9px;
}
